DATABASE_URL="mysql://usuario:senha@localhost:3306/desafio"

DATABASE_HOST="localhost"
DATABASE_PORT="3306"
DATABASE_USER="seu_usuario"
DATABASE_PASSWORD="sua_senha_forte"
DATABASE_NAME="desafio"

JWT_SECRET="sua_chave_secreta"